
    <div x-data="" class="section space-y-6 mt-12">
        <div class="flex items-center gap-x-6" > 
            {{ partial:svg/cart class="h-8 w-auto fill-current" }}
            <div class="text-2xl font-bold">
                Je winkelwagen
            </div>
        </div>
        <div class="flex flex-col lg:flex-row items-start  gap-12 justify-between">
            <div hx-get="/partials/cart/_cart_items" hx-trigger="load, product-deleted from:window" ></div>
            <div class="w-full lg:w-side">
                <div hx-get="/partials/cart/_session_cart_summary" hx-trigger="load, cart-updated from:window" ></div>
            </div>
        </div>
    </div>