<section class="section flex justify-between items-center" >               

        <div class="hidden md:block" >
            {{ partial:sellingpoints }} 
        </div>
        
</section>
<section class="section flex">

</section>


<div class="section grid grid-cols-1 lg:grid-cols-3 gap-12 my-6 md:my-12">
    {{ nav:collection:categories max_depth="1"}}
        {{ if img }}
        <a href="{{ url }}" class=" group relative h-64 max-h-[60vh] bg-transparent rounded-lg overflow-hidden shadow-md text-2xl font-semibold ">
            <img  class="w-full h-full object-cover" src="{{ img:url }}" / >
            <div class="absolute w-full bottom-0 bg-c2 h-16 flex flex-row items-center justify-center text-white transform group-hover:-rotate-2 group-hover:h-24 group-hover:-bottom-3 group-hover:w-[105%] transition-all" >
                {{ title }}
                <svg class="opacity-0 ml-0 h-6 w-auto fill-white group-hover:opacity-100 group-hover:ml-8 transition-all" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"/></svg>
            </div>
            
        </a>
        {{ /if }}
        
    {{ /nav:collection:categories }}
</div>