{{#
    @name Layout
    @desc The default layout file.
#}}
<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ">
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
        <script src="/assets/js/htmx.js"></script>
        <script src="/assets/js/alpine-morph.js"></script>
        {{ if {installed:statamic/seo-pro} }}
            {{ seo_pro:meta }}
        {{ else }}
            <title>{{ title ?? { yield:title }  }} - {{ config:app:name }}</title>
        {{ /if }}
        <meta name="description" content="{{ is_homepage ? settings:meta_description  : meta_description ?? { yield:meta_description } }}">
        {{ vite src="resources/css/aa.css" }}
        <link rel="manifest" href="/manifest.webmanifest">
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    </head>
    <body hx-headers='{ "X-CSRF-TOKEN" : "{{ csrf_token }}" }' x-data="{ menu : false}" class="min-h-screen flex flex-col font-primary text-c1 text-base bg-gradient-to-tr from-[#B7E0C0] to-[#BEE4EF] pb-24">
        {{ partial:nav }}
        <main id="main" class="px-6">
            {{ template_content }}

        </main>
        <div class="self-end w-full text-center mt-auto pt-48 text-xs">
            &copy; {{ now format="Y"  }} - Tapp Company<br><br>
            met <span>❤︎</span> gemaakt door <a target="_blank" href="https://studioarkey.nl">Studio Arkey</a>
        </div>
        {{ if environment === 'production' }}
            {{ AltCookies:scripts }}
            <div id="alt-cookies-consent-toast" class="toast fixed p-4 bottom-0 mx-auto xl:right-0 z-50
                transition-duration-500 transition-all translate-y-full w-[600px] max-w-[90%]">
                <div class="bg-white shadow-lg rounded-lg p-4 border-2 border-c1">
                    <div class="flex justify-between items-center">
                        <div class="text-lg font-semibold">Cookies</div>
                        <button class="text-gray-500 hover:text-gray-700 focus:outline-none hidden" aria-label="Close">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                    <p class="text-gray-600 mt-2">Kies hieronder welke cookies je accepteert.</p>
                    <div class="mt-4 flex flex-wrap justify-between items-center">
                        <div>
                            <div class="opacity-50">
                                <input type="checkbox" name="Necessary" id="alt-cookies-necessary" checked disabled/>
                                <label for="alt-cookies-necessary">Functioneel</label>
                            </div>
                            <div>
                                <input type="checkbox" name="Analytics" id="alt-cookies-analytics" />
                                <label for="alt-cookies-analytics">Analytics</label>
                            </div>   
                                <input type="checkbox" class="hidden" name="Advertising" id="alt-cookies-advertising" />
                        </div>
                        <div class="mt-4 flex">
                            <button class="mr-2 px-4 py-2 bg-c2 text-white rounded hover:bg-c2
                                focus:outline-none focus:bg-c2"
                                    onclick="{{ AltCookies:accept }}">Accepteer alles</button>
                            <button class="px-4 py-2 bg-white border-c1 border-2 text-c1 rounded 
                                focus:outline-none  "
                                    onclick="{{ AltCookies:decline }}">Alleen functioneel</button>
                        </div>
                    </div>
                </div>
            </div>
        {{ /if }}
    </body>
</html>