<div x-data="" id="edit_list_{{ location_id }}" hx-target="#edit_list_{{ location_id }}" hx-select="#edit_list_{{ location_id }}" hx-push-url="false" class="select-none cursor-default flex flex-row gap-x-2">  
    <div class="border-2 border-[#BEE4EF] rounded-full w-8 h-8 flex justify-center items-center">
        <div x-data="{ 'open' : false }">
            <span @click=" open = ! open" >
                {{ partial:svg/edit class="h-4 w-auto fill-c1" }}
            </span>
            <div x-cloak x-show="open" x-transition class="h-screen w-screen fixed top-0 left-0 z-50 bg-c3/20 backdrop-blur-sm px-6">
                <div @click.outside="open = false" class="lg:w-main mx-auto mt-24 max-h-[80vh] rounded-md overflow-y-scroll bg-white shadow-md" >
                    <div class="font-semibold sticky top-0 z-20 text-xl flex flex-row items-center p-6 bg-c1 text-white">
                        {{ partial:svg/edit class="fill-white h-6 w-6 mr-4" }}
                        <div class="-mt-px" >
                            Lijst wijzigen: {{ location_id | get('title') }}
                        </div>
                    </div>
                    {{ products = [] }}

                    {{ if list_type === 'location' }}
                        
                        {{ get_content :from="location_id" }}
                            {{ products = template_location_products:location_products ?? location_products }}
                        {{ /get_content }}
                    
                    {{ elseif list_type === 'quicklist' }}

                        {{ products = current_user:quicklist }}

                    {{ /if  }}
                   
                    <div class="" >
                        {{ if products | count > 0 }}
                            {{ products }}
                            <div class="flex items-center gap-x-12 border-b-c3 border-b px-6 py-1" >
                                <div class="w-16 h-16 relative grid place-items-center overflow-hidden" >
                                    <img class="w-16 h-16 object-contain" src="{{ prod_img:url }}" />
                                </div>
                                <div>{{ title }}</div>
                                <div class="ml-auto border-2 border-c3 rounded-full h-8 w-8 grid place-items-center" x-data="{ 'open' : false }" @deleted.window="open = false">
                                    <div @click=" open = ! open " > {{ partial:svg/trash class="h-4 w-auto fill-red-500" }}   </div>
                                    <div x-cloak x-show="open" x-transition class="h-screen w-screen fixed top-0 left-0 z-50 bg-c3/20 backdrop-blur-sm">
                                        <div @click.outside="open = false" class="lg:w-side mx-auto mt-24 rounded-md overflow-hidden bg-white shadow-md" >
                                            <div class="font-semibold text-xl flex flex-row items-center p-6 bg-red-500 text-white">
                                                {{ partial:svg/edit class="fill-white h-6 w-6 mr-4" }}
                                                <div class="-mt-px" >Verwijder product uit lijst</div>
                                            </div>
                                            <div class="p-6" >
                                                <div>
                                                    Weet je zeker dat je dit product uit deze lijst wil verwijderen?
                                                </div>
                                                <div class="flex gap-x-6">
                                                    <button type="button" class="w-full text-center py-2 bg-red-500 rounded-md text-white mt-4" hx-post="htmx/DeleteFromList/{{list_type}}/{{id}},{{location_id}}"  hx-trigger="click" hx-ext="alpine-morph" hx-swap="morph" hx-vals='{ "list_type" : "{{ list_type }}", "location_id" : "{{ location_id  }}", "index" : "{{ index }}"}'  >
                                                        Ja, verwijder
                                                    </button>  
                                                    <button type="button" @click="open = false" class="w-full text-center py-2 bg-gray-500 rounded-md text-white mt-4">
                                                        Annuleren
                                                    </button>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            {{ /products }}
                        {{ else }}
                            <div class="p-6">
                                Deze lijst is leeg. Voeg producten toe via de catalogus.
                            </div>
                        {{ /if }}
                    </div>
                    <div class="p-6 w-full flex justify-end" >
                        <button type="button" @click="open = false" class="inline-block text-center py-1 px-2 bg-red-500 rounded-md text-white">
                            Sluiten
                        </button>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>