<div x-data="" id="edit_{{ id | camelize }}" hx-push-url="false" class="select-none cursor-default flex flex-row gap-x-2">  
    <div class="border-2 border-[#BEE4EF] rounded-full w-8 h-8 flex justify-center items-center">
        <div x-data="{ 'open' : false }" @submitted.window="open = false" x-init="$watch('open', value => $refs.editUserForm.reset() )">
            <span @click=" open = ! open" >{{ partial:svg/edit class="h-4 w-auto fill-c1" }}</span>
            <div x-cloak x-show="open" x-transition class="h-screen w-screen fixed top-0 left-0 z-50 bg-c3/20 backdrop-blur-sm">
                <div @click.outside="open = false" class="lg:w-side mx-auto mt-24 rounded-md overflow-hidden bg-white shadow-md" >
                    <div class="font-semibold text-xl flex flex-row items-center p-6 bg-c1 text-white">
                        {{ partial:svg/edit class="fill-white h-6 w-6 mr-4" }}
                        <div class="-mt-px" >Gebruiker wijzigen</div>
                    </div>
                    <form x-ref="editUserForm" action="htmx/EditUser/update" hx-boost="true"  method="post" hx-trigger="submit" hx-target="#edit_{{ id | camelize }}" hx-select="#edit_{{ id | camelize }}"  hx-ext="alpine-morph" hx-swap="morph" class="p-6 space-y-6" >
               
                        {{ partial:components/forms/input_field type="text" handle="name" display="Naam" :value="name" }}
                        {{ partial:components/forms/select_field handle="location"  display="Vestiging"  }}
                            {{ current_user:location:company:locations }}    
                                <option value="{{ id }}" {{ id === current_user:location:id }} >  {{ title }}  </option>
                            {{ /current_user:location:company:locations }}
                        {{ /partial:components/forms/select_field   }}
            
                        {{ csrf_field }}
                        <input type="hidden" name="user" value="{{ id }}" />
                        <div class="flex gap-x-6">
                            <button type="submit" class="w-full text-center py-2 bg-c2 rounded-md text-white mt-4">Opslaan</button>  
                            <button type="button" @click="open = false" class="w-full text-center py-2 bg-red-500 rounded-md text-white mt-4">Annuleren</button>  
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="border-2 border-[#BEE4EF] rounded-full w-8 h-8 flex justify-center items-center">
        <div x-data="{ 'open' : false }" @submitted.window="open = false">
            <span @click=" open = ! open " > {{ partial:svg/trash class="h-4 w-auto fill-red-500" }}   </span>
            <div x-cloak x-show="open" x-transition class="h-screen w-screen fixed top-0 left-0 z-50 bg-c3/20 backdrop-blur-sm">
                <div @click.outside="open = false" class="lg:w-side mx-auto mt-24 rounded-md overflow-hidden bg-white shadow-md" >
                    <div class="font-semibold text-xl flex flex-row items-center p-6 bg-c1 text-white">
                        {{ partial:svg/edit class="fill-white h-6 w-6 mr-4" }}
                        <div class="-mt-px" >Verwijder gebruiker</div>
                    </div>
                    <div class="p-6" >
                        <div>
                            Weet je zeker dat je {{ email }} wil verwijderen
                        </div>
                        {{ csrf_field }}
                        <div class="flex gap-x-6">
                            <button class="w-full text-center py-2 bg-red-500 rounded-md text-white mt-4" hx-post="htmx/EditUser/delete/{{id}}"  hx-trigger="click" hx-swap="none" >Ja verwijder</button>  
                            <button type="button" @click="open = false" class="w-full text-center py-2 bg-gray-500 rounded-md text-white mt-4">Annuleren</button>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>