<div  id="invite_user"  x-data="{ 'open' : false }" @submitted.window="open = false" x-init="$watch('open', value => $refs.inviteUserForm.reset() )"  hx-trigger="submit" hx-ext="alpine-morph" hx-swap="morph" >
    <span @click=" open = ! open " class="btn-primary inline-block bg-c2 h-auto p-2  w-auto text-white select-none" > 
        <div class="flex">
            {{ partial:svg/plus class="fill-white text-white h-6 w-6 mr-4" }}
            Gebruiker uitnodigen
        </div>
    </span>
    <div x-show="open" x-cloak x-transition class="h-screen w-screen fixed top-0 left-0 z-50 bg-c3/20 backdrop-blur-sm">
        <div @click.outside="open = false" class="lg:w-side mx-auto mt-24 rounded-md overflow-hidden bg-white shadow-md" >
            <div class="font-semibold text-xl flex flex-row items-center p-6 text-white bg-c1">
                {{ partial:svg/plus class="fill-white h-6 w-6 mr-4" }}
                <div class="-mt-px" >Gebruiker uitnodigen</div>
            </div>
            <form x-ref="inviteUserForm" action="/htmx/InviteUser/submit" hx-boost="true" hx-push-url="false" method="post" hx-target="#invite_user" hx-select="#invite_user" class="p-6 space-y-6">

                   {{ partial:components/forms/input_field type="text" handle="name" display="Naam" :old="old:name" }}
                   {{ partial:components/forms/input_field type="email" handle="email" display="Email" :old="old:email" }}
                   {{ partial:components/forms/select_field handle="location"  display="Vestiging" :old="old:location"  }}
                        {{ current_user:location:company:locations }}    
                            <option value="{{ id }}">  {{ title }}  </option>
                        {{ /current_user:location:company:locations }}
                    {{ /partial:components/forms/select_field   }}
            
                {{ csrf_field }}
                
                <button class="w-full text-center py-2 bg-c2 rounded-md text-white mt-4">Uitnodigen</button>   
            </form>
        </div>
    </div>
</div>