{{ is_manager = { current_user:roles | contains('manager') } }}
<div  x-data="{ 'open' : false }" @submitted.window="open = false" id="add_to_list" hx-push-url="false" class="select-none cursor-default flex flex-row items-center gap-x-2">    
    <div @click="open = ! open" class="flex items-center gap-x-2">
        <span class="hidden sm:block" >Beheer {{ is_manager ? 'lijsten' : 'snellijst' }}</span>
        <div class="border-2 border-[#BEE4EF] rounded-full w-12 h-12 flex justify-center items-center">
            {{ partial:svg/list class="h-6  w-auto fill-c1" }}
        </div>
        
    </div>
    <div x-cloak x-show="open" x-transition class="h-screen w-screen fixed top-0 left-0 z-50 bg-c3/20 backdrop-blur-sm px-6">
        <div @click.outside="open = false" class="lg:w-side mx-auto mt-24 rounded-md overflow-hidden bg-white shadow-md" >
            <div class="font-semibold text-xl flex flex-row items-center p-6 bg-c1 text-white">
                {{ partial:svg/list class="fill-white h-6 w-6 mr-4" }}
                <div class="-mt-px" >Beheer {{ is_manager ? 'lijsten' : 'snellijst' }}</div>
            </div> 
            <div class="p-6 space-y-6 ">
                {{ if is_manager }}
                <div class="text-sm" >Selecteer in welke lijsten dit product moet voorkomen.</div>     
                {{ /if }}            
                <form action="/htmx/ManageList/set" hx-boost="true"  method="post" hx-trigger="submit" hx-target="#add_to_list" hx-select="#add_to_list" hx-ext="alpine-morph" hx-swap="morph" class="space-y-6" >
                    <div class="space-y-2 max-h-[60vh] overflow-y-scroll" >
                        {{ in_quicklist = { current_user:quicklist |  pluck('id') | flatten | in_array(product_id) } ?? false }}

                        <label class=" w-auto grid grid-flow-col gap-2 justify-start items-center text-sm font-bold"  for="toQuicklist">
                            <input class="hidden peer" type="checkbox" name="toQuicklist" id="toQuicklist" {{ in_quicklist ?= 'checked="checked"' }}/>
                            <div class="border-2 border-c1 bg-white peer-checked:bg-c3 w-4 h-4 rounded-[0%100%100%100%] transform rotate-45 " > </div>
                            {{ is_manager ? 'Mijn snellijst' : 'In mijn snellijst' }}
                        </label>
    
                        {{ if is_manager }}
    
                        {{ current_user:location:company:locations }}
    
                            {{ is_location_product = { location_products | pluck('id') | flatten | in_array(product_id) } }}
    
                            <label class=" w-auto grid grid-flow-col gap-2 justify-start items-center text-sm font-bold"  for="{{ id | camelize }}">
                                <input class="hidden peer" type="checkbox" name="locations[]" id="{{ id | camelize }}" value="{{ id }}" {{ if is_location_product }} checked="checked" {{ /if }}/>
                                <div class="border-2 border-c1 bg-white peer-checked:bg-c3 w-4 h-4 rounded-[0%100%100%100%] transform rotate-45 " > </div>
                                {{ title }}
                            </label>
                        
                        {{ /current_user:location:company:locations }}
    
                        {{ /if }}
    
                        {{ csrf_field }}
    
                        <input type="hidden" name="product_id" value="{{ product_id }}" />
                    </div>
                 
                    <div class="flex gap-x-6">
                        <button type="submit" class="w-full text-center py-2 bg-c2 rounded-md text-white mt-4">Opslaan</button>  
                        <button type="button" @click="open = false" class="w-full text-center py-2 bg-red-500 rounded-md text-white mt-4">Annuleren</button>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>