<div class="w-full relative" id="location" hx-trigger="click"  hx-target="#location" hx-select="#location" >
    <div x-data="{ expand : false }"  @click="expand = ! expand" @click.outside="expand = false" class="relative rounded-lg border-2 anim border-c2 p-2 bg-white w-auto md:w-full flex flex-row items-center " >
            <div class="w-6 h-6 mr-4 grid place-items-center" >
                <div >
                   {{ partial:svg/list_location class="w-6 h-6 fill-c2" }} 
                </div>
            </div>
           <div wire:loading.class="opacity-40 transition-opacity" >{{ current_user:location:title }}</div>
           <div :class="expand ? 'lg:rotate-180' : 'rotate-180 lg:rotate-0' " class="ml-auto mr-2 transform origin-center transition-transform">
                {{ partial:svg/caret class="h-auto w-4 fill-c2" }}  
           </div>
        <div x-show="expand" class="absolute left-0 top-12 w-full overflow-y-scroll rounded-lg max-h-96 z-50  border-2 border-c2 bg-white" >
            {{ current_user:location:company:locations }}
            
                <div class="hover:bg-c2 hover:text-white transition-colors p-2" hx-post="/htmx/SwitchLocation/to/{{ id }}" >  {{ title }} </div>
            
            {{ /current_user:location:company:locations }}
        </div>

    </div>
</div>