{{ if settings:marketingbanner && {session:has key="closed_marketingbanner"} != true }}
    <div x-data="" x-ref="marketingbanner" class="z-50 px-6" style="background-color:{{ settings:marketingbanner_color }};">
        <div class="w-full max-w-wrapper mx-auto flex justify-center items-center h-12 ">
            <{{ settings:marketingbanner_url ? 'a href="{ settings:marketingbanner_url }" target="_blank"' : 'div' }} class="block flex-grow text-white z-50">
            {{ settings:marketingbanner_text }}
            </{{ settings:marketingbanner_url ? 'a' : 'div' }}>
            <div class="z-50" hx-post="/htmx/CloseMarketingbanner/closeBanner" hx-swap="none" trigger="click">
                {{ svg src="icons/solid/circle-xmark" class="h-5 fill-white hover:fill-c1" }}
            </div>
        </div>
    </div>
{{ /if }}