<div hx-get="/partials/_marketingbanner" hx-trigger="load, marketingbanner-closed from:window"></div>
<nav 
    x-data=""
    class="w-full  sticky z-40 top-0 self-start bg-white px-6"
>
    <div class="section h-20 flex flex-row gap-x-4 md:gap-x-6 lg:gap-x-8 items-center justify-between">
        <div class="space-y-1">
            <a href="/" class="block max-h-full ">
                <img class="h-10  w-auto" src="/assets/logo_tapp.svg" />
            </a>
        </div>
        <div 
            x-cloak 
            x-data="{ open : false }" 
            x-init="open = false" 
        >
        <div x-cloak @click=" open = true " class="hidden md:grid relative btn-primary w-auto px-6 h-10 text-sm font-medium place-items-center select-none" >      Bekijk assortiment</div>
            <div :class="open ? 'flex' : 'hidden'"  class="fixed bg-white md:bg-transparent top-0 md:top-24 left-0 py-6 md:py-0 px-6 w-screen h-screen items-start justify-center z-50">
                <div
                class="block relative w-wrapper max-w-full max-h-full overflow-y-scroll md:overflow-visible bg-white border-c1 md:border-2 p-6 md:shadow-md md:rounded-lg">
                    <svg @click="open = false" class="w-8 h-8 fill-c1 fixed md:absolute right-6 top-6 md:-right-2 md:-top-2 z-50" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512">
                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                    </svg>
                    <div class="w-full max-w-full overflow-scroll flex flex-col md:h-[640px] flex-wrap gap-6 items-start text-left">
                        {{ nav:collection:categories max_depth="2" }}
                          
                            <div class="flex flex-col">
                              
                                <a href="{{ url }}"  class="text-c1 mb-1 font-bold text-base">{{ title }}</a>
                            
                                {{ if children }}
                                <div class=" flex flex-col">
                                    {{ children }}
                                        <a href="{{ url }}"
                                            class=" bg-white text-c1 py-1 text-sm font-medium">{{ title }}</a>
                                    {{ /children }}
                                </div>
                                {{ /if }}
                              
                            </div>
                         
                     
                        {{ /nav:collection:categories }}
                    </div>
                </div>
            </div>
        </div>

        <div x-ref="search" id="autocomplete" class="hidden sm:block flex-grow h-10 z-40  mt-0 bg-white p-0 border-2 border-c2 rounded-lg overflow-hidden"></div>
        <div id="toggleSearch" class="block sm:hidden ml-auto" >
            {{ partial:svg/search class="w-8 h-8 fill-c2" }}
        </div>

            {{ nocache }}
                <a class="block relative hover:transform hover:-rotate-3 transition-transform "  class="" href="/winkelwagen">
                    <div class="absolute -top-2 -left-2 rounded-full text-white w-6 h-6 bg-c2 border-2 border-white grid place-items-center text-xs" hx-get="/partials/cart/_session_cart_items_total" hx-trigger="load once, cart-updated from:window" id="this" hx-select="#product-amount"  hx-target="#this" hx-swap="innerHTML" ></div>
                    {{ partial:svg/cart class="w-8 h-8 fill-c2 " }}
                </a>
                {{ if logged_in }}
                    <a href="/account" class="hover:transform hover:-rotate-12 transition-transform ">
                        {{ partial:svg/user class="w-8 h-8 fill-c2 " }}
                    </a>
                {{ else }}
                    <a hx-boost="false" href="/login " class="text-sm">
                        Inloggen
                    </a>
                {{ /if }}
            {{ /nocache }}
  
    </div>
</nav>