<div class="grid grid-flow-col justify-center gap-6 h-12" >
    {{ settings:sellingpoints }}
        <div class="flex flex-row items-center" >
            <div class="h-4 w-4 mr-2" >
                {{ icon }}
            </div>   
            {{ text }}
        </div>
        
    {{ /settings:sellingpoints }}
</div>
