<div class="fixed flex flex-col items-center justify-center top-0 left-0 h-full w-full">
    {{if logged_out}}
        <div class="w-side p-6">
            <img class="w-full" src="https://tappcompany.nl/wp-content/uploads/2022/02/logo_tapp.svg"/>
        </div>
        <div class="w-side rounded-lg bg-white overflow-hidden"  >
            <div class="p-6 bg-c1 text-white" >
                <p>
                    Wachtwoord vergeten? Geen probleem. Vul het email adres van uw account in en een reset-mail zal worden verzonden.
                </p>
            </div>

            {{ user:forgot_password_form reset_url="/reset-password" }}
                <div class=" w-full m-0 p-6">
                {{ if success }}
                    <h4 class="text-base">
                        {{ success | trans }}
                    </h4>
                </div>
                {{ else }}

                    <div class="table w-full">
                        {{ partial:components/forms/input_field type="email" display="Email" handle="email" value="{ old:email }"}}
                    </div>
                    
                    {{ if errors }}
                        {{ errors }}
                            <h4 class="mt-6 text-sm text-red-600 ">{{ value | trans }}, probeer het opnieuw.</h4>
                        {{ /errors }}
                    {{ /if }}
                </div>

                <button class="btn-primary w-full text-center rounded-none cursor-pointer" type="submit">Verstuur reset-mail</button>

                {{ /if }}
            
            {{ /user:forgot_password_form }}
            
        </div>
    {{/if}}
</div>