<div class="section">
    <div class="flex items-center gap-x-6 my-6" > 
        {{ partial:svg/list class="h-8 w-auto fill-current" }}
        <div class="text-2xl font-bold">
            Bestel vanuit lijst
        </div>
    </div>
    <div class="flex flex-col lg:flex-row items-start justify-between gap-12">
        <div class="w-full lg:w-main space-y-12">
            <div class="main-table">
                <div class="main-table-rows">

                    {{ if get:location }}

                        {{ collection:locations :id:is="get:location" limit="1"}}

                       {{ if !no_results }} 

                            {{ partial:list/location_list }}

                        {{ else }}

                            {{ redirect to="/account/lijst"}}

                        {{ /if }}

                        {{ /collection:locations }}

                     {{ else }}

                        {{ partial:list/user_list }}

                     {{ /if }}

                </div>
            </div>
        </div>
        <div class="w-full lg:w-side">
            <div hx-get="/partials/cart/_session_cart_summary" hx-vals='{ "location_id" : "{{ get:location  }}" , "list_mode" : "true"}' hx-trigger="load, cart-updated from:window" ></div>
        </div>
    </div>
</div>