<div class="fixed flex flex-col items-center justify-center top-0 left-0 h-full w-full px-6">
    {{if logged_out}}

        <div class="w-side rounded-lg bg-white overflow-hidden"  >
            <div class="p-6 bg-c1 text-white" >
                <p>
                    Inloggen
                </p>
            </div>
           
            {{ user:login_form redirect="/"}}

                <div class=" w-full m-0 p-6">
                    <div class="grid grid-cols-12 gap-4">
               
                        {{ partial:components/forms/input_field width="100" handle="email" input_type="text" display="Email"  }}
                        {{ partial:components/forms/input_field width="100" handle="password" input_type="password" display="Wachtwoord"  }}

                    </div>

                    <a class="block text-right mt-2 text-sm" href="/forgot-password">Ik ben mijn wachtwoord vergeten</a>

                    {{ if errors }}
                        {{ errors }}
                            <h4 class="mt-6 text-sm text-red-600 ">{{value}}, probeer het opnieuw.</h4>
                        {{ /errors }}
                    {{ elseif success }}
                        <h4 class="mt-6 text-sm">{{success}}</h4>
                    {{ /if }}

                </div>

                <button class="btn-primary w-full text-center rounded-none cursor-pointer" type="submit">Inloggen</button>

            {{ /user:login_form }}
            
        </div>

    {{ else }}]

        {{ redirect to="/" }}

    {{/if}}
</div>