
<div class="section flex flex-col gap-y-6 mt-6">
    <div class="flex items-center gap-x-6" > 
        {{ partial:svg/cart class="h-8 w-auto fill-current" }}
        <div class="text-2xl font-bold">
            Mijn bestellingen
        </div>
    </div>
    <div> 
        <div class="table w-full border-collapse border-c1 border-1 rounded-lg overflow-hidden " >
            <div hx-boost="true" hx-select="#main" hx-target="#main" class="select-none table-row bg-c1 text-white  [&>*]:px-4 [&>*]:py-4 " >
                <div class="table-cell flex flex-row items-center">
                    Order 
                </div>
                <div class="table-cell ">
                    <a href="?sort=order_date:{{ { get:sort | contains('order_date:asc') } ? 'desc' : 'asc'  }}" class="flex items-center gap-x-2" >
                        Datum
                        <div class="{{ { get:sort | contains('date:asc') } ?= 'transform -rotate-180 '  }}" >
                            {{ partial:svg/caret class="fill-white w-4 h-4 " }}
                        </div>
                    </a>
                </div>
                <div class="table-cell">
                    <a href="?sort=shipping_city:{{ { get:sort | contains('shipping_city:asc') } ? 'desc' : 'asc'  }}" class="flex items-center gap-x-2" >
                        Vestiging
                        <div class="{{ { get:sort | contains('shipping_city:asc') } ?= 'transform -rotate-180 '  }}" >
                            {{ partial:svg/caret class="fill-white w-4 h-4 " }}
                        </div>
                    </a>
                </div>
                <div class="table-cell">
                    <a href="?sort=grand_total:{{ { get:sort | contains('grand_total:asc') } ? 'desc' : 'asc'  }}" class="flex items-center justify-end gap-x-2" >
                        Totaal
                        <div class="{{ { get:sort | contains('grand_total:asc') } ?= 'transform -rotate-180 '  }}" >
                            {{ partial:svg/caret class="fill-white w-4 h-4 " }}
                        </div>
                    
                    </a>
                </div>
            </div>
            <div class="table-row-group ">
               
    
                {{ collection:orders query_scope="order_list" order_status:is="placed" sort="{ get:sort ? { get:sort } : 'order_date:desc' }"   }}

                {{ if no_results }}
                <div class="main-table-row">Er zijn geen bestellingen gevonden. Nieuwe bestellingen verschijnen in dit overzicht.</div>
    
                {{ else }}
    
                <a href="/account/orders/{{ title | replace('#','') }}" class="table-row hover:bg-c2/30 transition-colors {{ switch between=" bg-white | bg-gray-50 " }} [&>*]:border-y [&>*]:px-4 [&>*]:py-2  " >
                    <div class="table-cell">
                        {{ title }}
                    </div>
                    <div class="table-cell">
                        {{ order_date | iso_format('DD/MM/YYYY') }}
                    </div>
                    <div class="table-cell">
                        {{ shipping_name }}
                    </div>
                    <div class="table-cell text-right">
                        {{ grand_total }}
                    </div>
                </a> 

                {{ /if }}
    
                {{ /collection:orders }}
    
            </div>

        </div>
    </div>
</div>







