
<div class="fixed flex flex-col items-center justify-center top-0 left-0 h-full w-full">

        <div class="w-side p-6">
            <img class="w-full" src="https://tappcompany.nl/wp-content/uploads/2022/02/logo_tapp.svg"/>
        </div>
        <div class="w-side rounded-lg bg-white overflow-hidden"  >
            <div class="p-6 bg-c1 text-white" >
                <p>
                   Voer hier uw nieuwe wachtwoord in.
                </p>
            </div>
     
            {{ user:reset_password_form }}

                <div class=" w-full m-0 p-6">

                    {{ if success }}
                        <h4 class="text-c2 " >Uw wachtwoord is opnieuw ingesteld.</4>
                        </div>
                        <a class="btn-primary w-full text-center rounded-none" href="/login">inloggen</a>
                    {{ elseif url_invalid || token_invalid}}
                            <h4 class="text-red-600 ">Deze link is ongeldig.</h4>
                        </div>
                        <a class="btn-primary w-full text-center rounded-none" href="/forgot-password">Vraag opnieuw aan </a>
                    {{ else }}
                        <div class="w-full space-y-2">
                            {{ partial:components/forms/input_field width="100" handle="email" input_type="text" display="Email" :old="old:email"  }}
                            {{ partial:components/forms/input_field width="100" handle="password" input_type="password" display="Nieuw wachtwoord"  }}
                            {{ partial:components/forms/input_field width="100" handle="password_confirmation" input_type="password" display="Herhaal wachtwoord"  }}
                        </div>
                        {{ if errors }}
                            {{ errors }}
                                <h4 class="mt-6 text-sm text-red-600 ">{{value}}, probeer het opnieuw.</h4>
                            {{ /errors }}
                        {{ /if }}

                        </div>

                        <button class="btn-primary w-full text-center rounded-none cursor-pointer" type="submit">Wachtwoord vernieuwen</button>
                    {{/if}}

            {{ /user:reset_password_form }}

        </div>
    
</div>