{{ if logged_in }}
{{ user }}
    <div class="section mt-10" >
        <a class="block sm:inline w-full bg-c1 px-4 py-2 rounded-md text-white text-center" href="{{ user:logout_url }}" >Uitloggen</a>
    </div>
    <div class="section grid grid-flow-row lg:grid-flow-col gap-12 items-start ">
        <div class="w-full lg:w-side lg:sticky lg:top-16">
            <div class="font-semibold text-2xl flex items-center h-12 my-6">
                {{ partial:svg/user class="fill-c1 h-8 w-8 mr-4" }}
                Mijn profiel
            </div>
            <div
                class="w-full grid grid-flow-row gap-px  rounded-md overflow-hidden shadow-md">
                <div class="bg-white p-6 space-y-6">
                    {{ if current_user:roles | contains('manager') }}
                        {{ if location:company:locations | count > 1  }}
                            {{ partial:htmx/switch_location }}
                        {{ /if }}
                        <a class="btn-primary w-full" href="/beheer/accounts"  > 
                            Beheer accounts
                        </a> 
                    {{ /if }}
                    <a class="btn-primary w-full" href="/account/orders"  > 
                        Mijn bestellingen 
                    </a>
                </div>
                {{ if location:company:logo }}
                    <div class="relative h-24 grid place-items-center bg-white p-0">
                        <img class="h-16 w-auto" src="{{ location:company:logo:url }}" />
                    </div>
                {{ /if }}
                <div class="p-6 bg-white" > 
                    <b>Naam</b>
                    <br>
                    {{ name }}
                    <br>
                    <b>E-mail</b>
                    <br>
                    {{ email }}
                </div>
                <div hx-get="partials/users/_address" hx-trigger="load, location-switched from:window" ></div>

            </div>

        </div>
        <div class="w-full lg:w-main">
            <div class="font-semibold text-2xl flex items-center h-12 my-6">
                {{ partial:svg/list class="fill-c1 h-8 w-8 mr-4" }}
                Mijn lijsten
            </div>
            <div  class="space-y-6" >
                {{ if quicklist | count > 0 }}
                    
                <div class="w-full flex justify-between items-center bg-white p-2 rounded-md shadow-md">
                    Mijn snellijst
                    <div class="flex items-center gap-x-2" >
                        <a hx-boost="true"  class="h-8 w-8 bg-c2 grid place-items-center rounded-full" href="/account/lijst/" >
                            {{ partial:svg/cart class="h-4 w-4 fill-white" }}
                        </a>
                        <div>
                            {{ partial:htmx/edit_list list_type="quicklist" }}
                        </div>
                    </div>
                </div>
                {{ /if }}
                {{ if current_user:roles | contains('manager') and location:company:locations | count > 1 }}
                
                    {{ location:company:locations }}
                        <div class="w-full flex justify-between items-center bg-white p-2 rounded-md shadow-md">
                            {{ title }}
                            <div class="flex items-center gap-x-2" >
                                <a class="h-8 w-8 bg-c2 grid place-items-center rounded-full" href="/account/lijst/?location={{ id }}" >
                                    {{ partial:svg/cart class="h-4 w-4 fill-white" }}
                                </a>
                                <div>
                                    {{ partial:htmx/edit_list list_type="location" :location_id="id" }}
                                </div>
                            </div>
                        </div> 
                    {{ /location:company:locations }}

                {{ else }}

                    <div class="w-full flex justify-between items-center bg-white p-2 rounded-md shadow-md">
                        {{ location:title }}
                        <div class="flex items-center gap-x-2" >
                            <a class="h-8 w-8 bg-c2 grid place-items-center rounded-full" href="/account/lijst/?location={{ current_user:location:id }}" >
                                {{ partial:svg/cart class="h-4 w-4 fill-white" }}
                            </a>
                            <div>
                                {{ partial:htmx/edit_list list_type="location" :location_id="location:id" }}
                            </div>
                        </div>
                    </div>

                {{ /if }}
            </div>
        </div>
    </div>

{{ /user }}
{{ else }}
    {{ redirect to="/login/" }}
{{ /if }}