{{ if {session:has key="session-cart.products.{ product_id }"}  }}
    {{ amount = { session:session-cart:products:{ product_id }:quantity } }}
{{ else }}
    {{ amount = 0 }}
{{ /if }}

<form 
x-data=""
hx-post="/htmx/SessionCart/set"
hx-trigger="change"
hx-ext="alpine-morph"
hx-swap="morph"
hx-select="#amount_{{ product_id | camelize }}"
hx-target="#amount_{{ product_id | camelize }}"
hx-push-url="false"
hx-vals='{"product_id" : "{{ product_id }}"}'
class=" opacity-100 transition-opacity grid place-items-center m-0"
id="amount_{{ product_id | camelize }}"
>
    <div x-data="{ 'amount' : {{ amount }} } "
            x-init="$watch('amount', value =>   $dispatch('change') )"  
            class="max-w-full flex flex-row justify-between items-center select-none">
        <button  x-show="amount > 1"  type="button" class="cursor-default disabled:opacity-40 transition-opacity active:animate-pulse" @click="amount--" :disabled=" amount < 1 " >
            <div >
                {{ partial:svg/minus class="h-8 w-8 fill-c2" }}
            </div>
        </button>
        <button  x-show="amount <= 1"  type="button" class="cursor-default grid place-items-center bg-red-500 w-8 h-8 rounded-full"  @click="amount = 0; $dispatch('deleted-product-{{ product_id | camelize }}')" >
            <div >
                {{ partial:svg/trash class="h-4 w-4 fill-white "}}
            </div>
        </button>
        <input 
            @keyDown="if( alowedInput($event.keyCode) == false ){ $event.preventDefault(); }"
            x-ref="amount"
            x-model="amount"
            name="quantity"
            type="text"
            min="0"
            placeholder="0"
            pattern="[0-9]+"
            class="amount h-8 w-16 p-2 border-2 border-c2 rounded-3xl mx-2 appearance-none invalid:bg-red-300 text-center "
        />
        <button type="button" class="cursor-default" @click="amount++">
            {{ partial:svg/plus class="h-8 w-8 fill-c2" }}
        </button>
    </div>
</form>

<script>

    function alowedInput(keyCode){

        if( ( keyCode == 8 || keyCode == 37 || keyCode == 39 ) || ( keyCode >= 48 && keyCode <= 57 )  ){
            return true;
        }
        else{
            return false;
        }

    }

</script>