<div class="w-full rounded-md overflow-hidden" hx-get="/partials/users/_account_list" hx-trigger="submitted from:window"  >
    <div class="table w-full max-w-full ">
    
        {{ users location:in="{ current_user:location:company:locations | pluck('id') | implode('|') }" }}
            {{  if current_user:location:company:id === location:company:id }}
            <div key="{{ index }}"  class="table-row w-full h-20 bg-white shadow-md text-sm [&>*]:align-middle [&>*]:px-4  
                {{ first ? '[&>*]:border-t' : '[&>*]:border-t'  }} 
            " >
                <div  class="table-cell table-fixed " >
                    <div class="flex flex-row items-center gap-x-2" >
                        {{ partial:svg/user class="w-4 h-auto flex-shrink-0 fill-c1'" }}
                        <span>{{ name }}</span>
                    </div>    
                </div>    
                <div  class="table-cell" >
                    <div class="flex flex-row items-center gap-x-2" >
                        {{ partial:svg/list_location class="w-3 h-auto flex-shrink-0 fill-c1'" }}
                        <span>{{ location:title}}</span>
                    </div>
                </div>    
                <div  class="table-cell" >                       
                    {{ email }}                    
                </div> 
                <div  class="table-cell" >
                    {{ if last_login }}
                    <span class="text-white bg-c2 p-1 rounded-md">Actief</span>
                    {{ else }}
                    <span class="text-white bg-c1 p-1 rounded-md">Uitgenodigd</span>
                    {{ /if }}   
                </div> 
                <div class="table-cell">
                    {{ partial:htmx/edit_user }}
                </div>
            </div>
            {{ /if }}
        {{ /users }}

    </div>
</div>