{{ user }}
    <div class="p-6 bg-white">
        <b>Bedrijf</b>
        <br>
        {{ location:company:title }}
        <br>
        <b>Vestiging</b>
        <br>
        {{ location:title }}
        <br>
        <b>Adres</b>
        <br>
        {{ if location:company_adress }}
            {{ location:company:billing_adress }}
            <br>
            {{ location:company:billing_zip }}
            {{ location:company:billing_city }}
        {{ else }}
            {{ location:adress }}
            <br>
            {{ location:zip }}
            {{ location:city }}
        {{ /if }}
    </div>
{{ /user }}