<div class="main-table">
    <div class="main-table-rows">
        {{ products = {session:session-cart:products} }}

        {{ if products | count > 0 }}
        
            {{ foreach :array="products" as="product|data" }}
                
                {{ product = { collection:products :id:is="product" limit="1" select="id|title|art_nr|prod_img" }  }}

                <div class="main-table-row h-auto py-6 lg:py-0 sm:h-20 flex-wrap sm:flex-nowrap text-left gap-x-6 ">
                    <div class="w-12 h-12 grid-place-items-center">
                        <img class="w-12 max-h-12" src="{{ product.0:prod_img }}" />
                    </div>
                    <div class="flex-grow w-8/12 text-base text-left flex flex-col">
                        <span>{{ product.0:title }}</span>
                        <span class="text-sm text-gray-500" >{{ product.0:art_nr }}</span>  
                    </div>
                    <div class="w-1/3 sm:w-1/12">
                        {{ partial src="partials/products/dynamic_price" :product_id="product.0:id" }}
                    </div>
                    <div class="ml-auto">
                        {{ partial src="partials/products/product_amount" :product_id="product.0:id" }}
                    </div>
                </div>

            {{ /foreach }}

        {{ else }}

            Je winkelwagen bevat nog geen producten!

        {{ /if }}

    </div>
</div>