{{ products = {session:session-cart:products} }}
<div class="h-40 space-y-4 p-4">
    <div class="text-lg font-bold" >
        Totaal:
    </div>
    <div class="text-4xl font-semibold transition-opacity ">
        <span id="product-amount" >

            {{ if products | count > 0 }}
                {{? echo array_sum(array_column($products, 'quantity') ); ?}}
            {{ else }}
                0
            {{ /if }}
        </span>
    </div>         
    <div class="text-sm" >
        ex. BTW
    </div>               
</div>