{{ session_cart_products = { session:session-cart:products } }}

{{? $total_items =  array_sum(array_column($session_cart_products, 'quantity') ) ?? 0; ?}}

{{ if list_mode && session_cart_products | count > 0 }}

    {{ outside_list = 0 }}

    {{ list_products = [] }}

    {{ if location_id }}

        {{ get_content :from="location_id" }}

            {{ list_products = location_products ?? template_location_products:location_products }}

            {{ list_products = { location_products | pluck('id') | flatten } }}
            
        {{ /get_content }}

    {{ else }}

        {{ list_products = { current_user:quicklist | pluck('id') | flatten } }}
            
    {{ /if }}

    {{?

        foreach($session_cart_products as $product => $data ){

            if( !in_array($product, $list_products) ){

                $outside_list = $outside_list + $data['quantity'] ;

            }

        }
    
    ?}}

{{ /if }}

<div class="w-full bg-white rounded-lg shadow-md overflow-hidden" >
    <div class="px-4 h-12 bg-c1 text-white flex flex-col justify-center" >
        Winkelwagen totaal
    </div>
    <div class=" space-y-4 p-4 ">
        {{ if total_items > 0 }}
        <div>
            <div>
                <span class="font-semibold" >{{ total_items }}</span> Artikel{{ total_items > 1 ?= 'en' }}
            </div>
            {{ if outside_list > 0 }}
                <div>
                    Waarvan <span class="font-semibold" >{{ outside_list }}</span> artikel{{ outside_list > 1 ?= 'en' }} <span class="font-semibold" >buiten</span> deze bestellijst.
                </div>
            {{ /if }}   
        </div>   
        {{ /if }}    
        <div class="text-4xl font-semibold transition-opacity ">
            <span id="product-amount" >
                &euro; {{ session:session-cart:total }}
            </span>
        </div>         
        <div class="text-sm" >
            ex. BTW
        </div>   
    </div>
    {{ if list_mode }}
        <div class="border-t p-4 border-c3">
            <a href="/winkelwagen" class="text-sm text-c3" >Winkelwagen wijzigen</a>
        </div>
    {{ /if }}
    <a  x-data="{ 'loading' : false }" @click="loading = true" href="/bestellen" class="btn-primary w-full rounded-t-none">
        <div x-cloak x-show="loading" >
            {{ partial:svg/loading class="w-8 h-8 "}}
        </div>
        <span x-show="!loading" >  
            Naar bestellen
        </span>
    </a>
</div>