{{ if logged_in && current_user:roles | contains('manager') && current_user:location:company }}
<div class="w-full px-6">
    <div class="section my-6">
        <div class="font-semibold text-2xl flex items-center h-12 my-6">
            {{ partial:svg/user class="fill-c1 h-8 w-8 mr-4" }}
            Accounts van {{ current_user:location:company:title }}
        </div>
        {{ partial:htmx/invite_user }}
    </div>
    <div class="section w-full flex items-start flex-col lg:flex-row gap-12" >
        {{ partial:users/account_list }}
    </div>
</div>
{{ else }}
    {{ redirect to="/" }}
{{ /if }}