:root {
    --aa-input-border-color-rgb: none !important;
    --aa-selected-color-rgb: none !important;
    --aa-base-z-index: 999999;
    --aa-font-size: 0.875rem !important ;
    --aa-primary-color-rgb: 75, 176, 97 !important ;
    --aa-search-input-height: 2.5rem !important;
}

.aa-PanelLayout:empty {
    display: none !important;
}

.aa-Item[aria-selected="true"] {
	-webkit-box-shadow: inset 0px 0px 0px 2px #4BB061;
    -moz-box-shadow: inset 0px 0px 0px 2px #4BB061;
    box-shadow: inset 0px 0px 0px 2px #4BB061;
}