/* This is all you. */
body{
    position:relative;
    background:linear-gradient(45deg, #B7E0C0, #BEE4EF);
    color:#0A0745;
}
body::before{
    display:block;
    content:"";
    position:absolute;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity:0.4;
    z-index:-1;
    background:white;
}

.nav-main{
    background:white;
}