@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        margin: 0;
    }
  }

@layer base{
    
    [x-cloak] { display: none !important; }


    @font-face {
        font-family: "poppins";
        font-weight:300;
        src: url("/resources/fonts/PoppinsLatin-Light.otf") format("opentype") ;
      }
    @font-face {
        font-family: "poppins";
        font-weight:400;
        src: url("/resources/fonts/PoppinsLatin-Regular.otf") format("opentype") ;
      }
      @font-face {
        font-family: "poppins";
        font-weight:500;
        src: url("/resources/fonts/PoppinsLatin-Medium.otf") format("opentype") ;
      }
      @font-face {
        font-family: "poppins";
        font-weight:600;
        src: url("/resources/fonts/PoppinsLatin-SemiBold.otf") format("opentype") ;
      }
      @font-face {
        font-family: "poppins";
        font-weight:700;
        src: url("/resources/fonts/PoppinsLatin-Bold.otf") format("opentype") ;
      }
      @font-face {
        font-family: "poppins";
        font-weight:700;
        src: url("/resources/fonts/PoppinsLatin-Bold.otf") format("opentype") ;
      }

   input:focus{
        @apply outline-0 !important;
    }
    
    .section{
        @apply max-w-wrapper w-full mx-auto;
    }

    p + *{
        @apply mt-2;
    }

    .main-table{
       @apply w-full lg:w-main md:text-base rounded-lg overflow-hidden ;
    }
    .main-table-head{
       @apply w-full h-12 flex flex-row justify-between items-center px-6 bg-c1 self-start sticky top-16 z-10 text-white ;
    }
    .main-table-rows{
        @apply block w-full ;
    }
    .main-table-row{
        @apply w-full h-12 flex flex-row justify-between items-center px-6 mt-[1px] bg-white text-c1;
    }

    .btn-primary, .btn-secondary{
        @apply flex flex-col justify-center items-center text-center h-12 w-side bg-c2 text-white rounded-lg ;
    }
    .btn-primary{
        @apply bg-c2;
    }
    .btn-secondary{
        @apply bg-c3;
    }

    .breadcrumbs a{
        position: relative;
    }

    .breadcrumbs a::after { 
        content: " "; 
        @apply hidden sm:block ;
        width: 0; 
        height: 0;
        border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left:12px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px; 
        left: 100%;
        z-index: 2; 
    }

    .breadcrumbs a::before { 
        content: " "; 
        @apply hidden sm:block ;
        width: 0; 
        height: 0;
        border-top: 50px solid transparent;       
        border-bottom: 50px solid transparent;
        border-left-style: solid;
        border-left-width: 12px;
        @apply border-l-c3/60 ;
        position: absolute;
        top: 50%;
        margin-top: -50px; 
        margin-left: 2px;
        left: 100%;
        z-index: 1; 
    }

    .pagination{
       @apply flex;
    }

    .pagination li {
        @apply first:text-2xl last:text-2xl font-medium border-l border-y last:border-r border-c2 text-c1 first:rounded-l-lg last:rounded-r-lg overflow-hidden;
    }

    .pagination li > *{
        @apply  w-10 h-10 grid place-items-center  bg-white text-base ;
    }

    .pagination .active > *{
        @apply bg-c1 text-white;
    }

    .pagination .disabled{
        @apply bg-gray-50 text-gray-400;
    }

    .tapp-indicator{
        display:none;
    }
    .htmx-request.tapp-indicator{
        display:block;
    }

}