{{? $error_messages = [] ?}}

{{ if errors }}
    {{ get_errors }}
        {{ fields }}
            {{ if field === handle  }}
                {{ messages }}
                    {{ if first }}
                        {{? $error_messages[$field] = $message ?}}
                    {{ /if }}
                {{ /messages }}
            {{ /if }}
        {{ /fields }}
    {{ /get_errors }}
{{ /if }}

{{# set succes and error variables #}}
{{ success = { ( error_messages | contains(handle) == false && old ) ? true : false }  }} 
{{ error = { error_messages | contains(handle) }  }} 

<div id="field_{{handle}}" class="{{ input_type == 'hidden' ?= 'hidden' }} relative flex flex-col space-y-1 col-span-12
    {{ width == '17' ?= 'lg:col-span-2' }}     
    {{ width == '25' ?= 'lg:col-span-3' }}
    {{ width == '33' ?= 'lg:col-span-4' }}
    {{ width == '50' ?= 'lg:col-span-6' }}
    {{ width == '66' ?= 'lg:col-span-8' }}
    {{ width == '75' ?= 'lg:col-span-9' }}
    {{ width == '100' ?= 'lg:col-span-12' }}"
>

    <label class="font-bold" for="{{ handle }}">
        {{ trans :key="display" }}
        {{ if validate | contains('required') }}
            <sup class="text-red-500 text-base">*</sup>
        {{ /if }}
        {{ if instructions }}
            <p class="font-normal text-sm my-1">{{ trans :key="instructions" }}</p>
        {{ /if }}
    </label>

    <div class="flex flex-row relative">
        <input
            class="w-full {{ error ? 'bg-red-50 border-red-500' : ' border-c2' }} {{ success ?= 'bg-green-50' }} rounded border-2 border-c2 pl-2 pr-6 py-0.5 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-c3 motion-safe:transition caret-c1"
            id="{{ handle }}"
            name="{{ handle }}"
            type="{{ input_type ?? 'text' }}"
            aria-describedBy="{{ handle }}"
            {{ if live_validate }}
                hx-post="{{ live_validate }}"
                hx-select="#field_{{handle}}"
                hx-target="#field_{{handle}}"
                hx-ext="alpine-morph"
                hx-swap="morph"
                hx-vals='{ "field" : "{{ handle }}" }'
                hx-trigger="change"  
            {{ /if }}
            hx-indicator="#validating_{{ handle }}"
            {{ if character_limit }}maxlength="{{ character_limit }}"{{ /if }}
            {{ if value }}
                value="{{ value }}"
            {{ elseif {old | type_of} === 'string' && old  }}
                value="{{ old }}"
            {{ /if }}
            {{ js_attributes }}
        />
        <div class="absolute right-2 h-full w-4 grid place-items-center">
        {{ if live_validate && success }}
            {{ partial:svg/success class=" fill-c2 h-4 w-4  animate-boop " }}
        {{ /if }}
        <div  id="validating_{{ handle }}" class="htmx-indicator absolute bg-white opacity-0 w-4 h-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-full w-full fill-c1 animate-spin" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M222.7 32.1c5 16.9-4.6 34.8-21.5 39.8C121.8 95.6 64 169.1 64 256c0 106 86 192 192 192s192-86 192-192c0-86.9-57.8-160.4-137.1-184.1c-16.9-5-26.6-22.9-21.5-39.8s22.9-26.6 39.8-21.5C434.9 42.1 512 140 512 256c0 141.4-114.6 256-256 256S0 397.4 0 256C0 140 77.1 42.1 182.9 10.6c16.9-5 34.8 4.6 39.8 21.5z"/></svg>
        </div>
        </div>
    </div>
    {{ if error }}
        <div class="absolute bottom-0 transform translate-y-full text-sm text-red-500 "> {{? echo $error_messages[$handle] ?}}</div>
    {{ /if }}
</div>