<div class="{{ input_type == 'hidden' ?= 'hidden' }} flex flex-col space-y-3 col-span-12
    {{ width == '25' ?= 'lg:col-span-3' }}
    {{ width == '33' ?= 'lg:col-span-4' }}
    {{ width == '50' ?= 'lg:col-span-6' }}
    {{ width == '66' ?= 'lg:col-span-8' }}
    {{ width == '75' ?= 'lg:col-span-9' }}
    {{ width == '100' ?= 'lg:col-span-12' }}"
>
    <label class="font-bold" for="{{ handle }}">
        {{ trans :key="display" }}
        {{ if validate | contains('required') }}
            <sup class="text-yellow-400">*</sup>
        {{ /if }}
        {{ if instructions }}
            <p class="font-normal text-sm my-1">{{ trans :key="instructions" }}</p>
        {{ /if }}
    </label>

    <div class="flex flex-col space-y-2">
        <textarea
            class="w-full rounded border-neutral focus-visible:border-primary focus-visible:ring focus-visible:ring-primary motion-safe:transition caret-primary"
            id="{{ handle }}"
            name="{{ handle }}"
            aria-describedBy="{{ handle }}"
            {{ if character_limit }}maxlength="{{ character_limit }}"{{ /if }}
            {{ js_attributes }}
            {{ if required }}required{{ /if }}
            cols="30"
            rows="10"
        >{{ {old | type_of} === 'string' && old ?= '{old}' }}</textarea>
    </div>
</div>
