<div class="main-table-row bg-c1 text-white">Bestellijst van {{ current_user:name}}</div>

{{ foreach :array="current_user:quicklist:get" as="key|product" }}

    {{ collection:products :id:is="product:id" limit="1"  }}

    {{ if !no_results }}
        
        <div class="main-table-row h-auto sm:h-20 py-6 lg:py-0 flex-wrap sm:flex-nowrap text-left gap-x-6 ">
            <div class="w-12 h-12 grid-place-items-center">
                <img class="w-12 max-h-12" src="{{ prod_img:url }}" />
            </div>
            <div class="w-8/12 text-base text-left flex flex-col">
                <span>{{ title }}</span>
                <span class="text-sm text-gray-500" >{{ art_nr }}</span>    
            </div>
            
            <div class="w-1/3 sm:w-1/12">
                {{ partial:products/dynamic_price :product_id="id" }}   
            </div>
            <div class="">
                {{ partial:products/product_amount :product_id="id" }}
            </div>
        </div>

    {{ /if }}

    {{ /collection:products }}   

{{ /foreach }}

