<template>
    <div class="w-full">
        <confirmation-modal buttonText="Gebruiker uitnodigen" :disabled="!validEmail || userExists" title="Gebruiker aanmaken" @confirm="submit" @cancel="close" v-if="active" >
                <slot class="modal-body">
                    <div class="space-y-6" >

                        <div class="w-full form-group">
                            <label for="field_title">
                                <span class="mr-1">Naam</span>
                                <i class="required mr-1">*</i>
                            </label>
                            <text-input
                                class="w-full"
                                name="name"
                                v-model="values.name"
                            />
                        </div>
                        <div class="w-full form-group">
                            <label for="field_title">
                                <span class="mr-1" :class="{'text-red-500' : userExists}">email</span>
                                <i class="required mr-1">*</i>
                            </label>
                            <text-input
                                class="w-full"
                                name="email"
                                v-model="values.email"
                            />
                            <small v-if="userExists" class="help-block text-red-500 mt-2 mb-0">Er is al een gebruiker met dit mailadres</small>
                        </div>                 
                        <div v-cloak v-if="validEmail && !userExists">
                            <div class="w-full form-group">
                                <label for="field_title">
                                    <span>Manager</span>
                                </label>
                                <toggle-fieldtype
                                    :value="manager"
                                    @input="(value) => (manager = value)"
                                />
                            </div>
                            <div class="w-full form-group">
                                <label for="field_title">
                                    <span>Vestiging</span>
                                </label>
                                <v-select
                                    placeholder="Kies een vestiging"
                                    :options="locationOptions"
                                    :reduce="value => value.value"
                                    :searchable="true"
                                    v-model="selectedLocation"
                                />
                            </div>  
                        </div>
                    </div>
                </slot>

        </confirmation-modal>

        <button
            class="btn-primary mb-6"
            v-if="locationOptions.length > 0"
            @click="active = true"
        >
            Gebuiker aanmaken
        </button>
        
        <data-list :visible-columns="columns" :columns="columns" :rows="users">
            <div class="card overflow-hidden p-0 relative" slot-scope="{ filteredRows: rows }">
                <data-list-table :allowBulkActions="false"  :reorderable="true" :allow-bulk-actions="true">
                    <template slot="cell-name" slot-scope="{ row: user }">
                            <a  class="text-blue" :href="user.url" @click.stop>
                                <span v-text="user.name" />
                            </a>
                    </template>
                    <template slot="cell-roles" slot-scope="{ row: user }">
                        <div v-if="user.roles.includes('manager')" >Manager</div>
                        <div v-else >Gebruiker</div>
                    </template>
                    <template slot="actions" slot-scope="{ row: user, index }">
                                <dropdown-list placement="right-start">
                                    <dropdown-item :text="__('Edit')" :redirect="user.edit_url" />
                                    <data-list-inline-actions
                                        :item="user.id"
                                        :url="actionUrl"
                                        :actions="actions"
                                        @started="actionStarted"
                                        @completed="actionCompleted"
                                    />
                                </dropdown-list>
                            </template>
                </data-list-table>
            </div>
        </data-list>

    </div>
</template>

<script>

import { mixin as clickaway } from 'vue-clickaway';

import isEmail from "validator/lib/isEmail";
import uniq from "underscore/modules/uniq.js";


export default {
    mixins: [Fieldtype , clickaway],
    inject: ["storeName"],

    data() {
        return {
            active: false,
            manager: false,
            route: "/users",
            user: {
                super: false,
                roles: ["client"],
                groups: [],
            },
            invitation: {
                send: true,
                subject: __("messages.user_wizard_invitation_subject", {
                    site: window.location.hostname,
                }),
                message: __("messages.user_wizard_invitation_body", {
                    site: window.location.hostname,
                    expiry: 72,
                }),
            },
            values: {
                name: "",
                email: "",
                location: [],
            },
            locationOptions: [],
            selectedLocation: "" ,
            users: [],
            columns: [
                { label: __('Naam'), field: 'name', visible: true },
                { label: __('Email'), field: 'email', visible: true },
                { label: __('Locatie'), field: 'location', visible: true },
                { label: __('Rol'), field: 'roles', visible: true },
                { label: __('Status'), field: 'status', visible: true },
            ],
            validEmail: false,
            userExists: false,
            completed: false,
            activationUrl: null,
            editUrl: null,
            errors: {},
            error: null,
            actionUrl: "https://shoptappcompany.test/cp/users/actions",
            actions: [{"handle":"copy_password_reset_link","title":"Copy Password Reset Link","confirm":false,"buttonText":"Copy","confirmationText":"Copy password reset email for this user?","warningText":null,"dangerous":false,"fields":[],"values":[],"meta":[],"context":[]},{"handle":"delete","title":"Delete","confirm":true,"buttonText":"Delete|Delete :count items?","confirmationText":"Are you sure you want to delete this?|Are you sure you want to delete these :count items?","warningText":null,"dangerous":true,"fields":[],"values":[],"meta":[],"context":[]},{"handle":"send_password_reset","title":"Send Password Reset","confirm":true,"buttonText":"Send|Send to :count users","confirmationText":"Send password reset email to this user?|Send password reset email to these :count users?","warningText":null,"dangerous":false,"fields":[],"values":[],"meta":[],"context":[]},{"handle":"impersonate","title":"Start Impersonating","confirm":false,"buttonText":"Run action|Run action on :count items","confirmationText":"Are you sure you want to run this action?|Are you sure you want to run this action on :count items?","warningText":null,"dangerous":false,"fields":[],"values":[],"meta":[],"context":[]}]
        };
    },

    computed: {
        locations() {
            var locations = this.$store.state.publish[this.storeName].values.locations;

            return locations;
        },

        finishButtonText() {
            return __("Create and Send Email");
        },
    },

    methods: {
        setLocationOptions() {
            var locationOptions = [];

            for (const [key, value] of Object.entries(this.locations)) {
                this.$axios
                    .get("/api/collections/locations/entries/" + value)
                    .then((response) => {
                        let locationOption = {
                            label : response.data.data.title,
                            value : value
                        };

                        locationOptions.push(locationOption);
                    });
            }

            this.locationOptions = locationOptions;
        },

        getUsers() {

            let locationFilter = this.locations.join('|')

            this.$axios
                    .get("/api/users?filter[location:in]="+locationFilter+"&locations=" + this.locations)
                    .then((response) => {

                        var userData = response.data.data;

                        this.users = userData;
            
                    });

        },

        checkIfUserExists(email) {
            this.$axios
                .post(cp_url("user-exists"), { email })
                .then((response) => {
                    this.userExists = response.data.exists;
                })
                .catch((error) => {
                    this.$toast.error(error.response.data.message);
                });
        },
        submit(validateOnly) {
            let payload = {
                ...this.user,
                ...this.values,
                invitation: this.invitation,
            };

            if (validateOnly === true) {
                payload._validate_only = true;
            }

            this.clearErrors();

            return this.$axios
                .post("/cp/users", payload)
                .then((response) => {
                    this.valid = true;

                    if (payload._validate_only) {
                        return;
                    }

                    if (this.invitation.send) {
                        this.completed = true;
                        this.getUsers();
                        this.close();
                        this.$toast.success("Gebruiker uitgenodigd!");
                    }
                })
                .catch((e) => {
                    console.log(e);
                    this.handleAxiosError(e);
                    throw e;
                });
        },
        handleAxiosError(e) {
            if (e.response && e.response.status === 422) {
                const { message, errors } = e.response.data;
                this.error = message;
                this.errors = errors;
                this.valid = false;
                this.$toast.error(message);
            } else {
                this.$toast.error(__(e.response.data.message));
            }
        },
        clearErrors() {
            this.error = null;
            this.errors = {};
        },

        actionCompleted() {
            this.$events.$emit('clear-selections')
            this.$events.$emit('reset-action-modals')
            this.getUsers();
            this.$toast.success(__('Action completed'))
        },

        close(){
            this.clearInputs();
            this.active = false;
        },

        clearInputs(){
            this.values.name = "";
            this.values.email = "";
            this.validEmail = false;
            this.userExists = false;
            this.values.manager = false;
        }

    },

    watch: {
        "values.email": function (email) {
            if (email) {
                this.validEmail = isEmail(email);
                if (isEmail(email)) this.checkIfUserExists(email);
            }
        },

        "manager": function (manager) {
            if (manager) {
                this.user.roles = ["manager"];
            }
        },

        "selectedLocation": function (selectedLocation) {
            if (selectedLocation) {
                this.values.location = [selectedLocation];
            }
        },

        manager: function (manager) {
            if (manager) {
                this.user.roles = ["manager"];
            } else {
                this.user.roles = ["client"];
            }
        },

        locations: function () {
            this.setLocationOptions();
        },

        userExists(exists) {
            let emailErrors = this.errors.email || [];
            const error = __("statamic::validation.unique");
            if (exists) {
                emailErrors.push(error);
            } else {
                emailErrors = emailErrors.filter((error) => error !== error);
            }
            this.errors = { ...this.errors, email: uniq(emailErrors) };
        },

        errors: function (errors) {
            if (this.onUserInfoStep)
                this.$store.commit(
                    `publish/${this.storeName}/setErrors`,
                    errors
                );
        },
    },

    mounted() {
        this.setLocationOptions();
        this.getUsers();
    },
};
</script>

<style>
.vm--modal {
    overflow: visible !important;
}
label{
    margin-bottom:4px !important;
}
</style>
