{{ live_validate = "/validate-field" }}

{{? $validationRequest = request()->hasHeader('HX-request') ?}}

<div class="grid grid-cols-12 gap-6 mb-12">
    {{ partial:components/forms/input_field width="50" handle="name" display="Naam" :old="old:name" :live_validate="live_validate" }}
    {{ partial:components/forms/input_field width="50" handle="email" display="Email" :old="old:email"  :live_validate="live_validate"}}
    {{ partial:components/forms/input_field width="50" handle="vat_id" display="BTW nummer" :old="old:vat_id"   :live_validate="live_validate" }}
    {{ partial:components/forms/input_field width="50" handle="org_id" display="KVK nummer" :old="old:org_id"   :live_validate="live_validate" }}
</div>

<h2 class="text-2xl font-medium mb-2">
    Afleveradres
</h2>

<div class="grid md:grid-cols-12 gap-6 mb-12">
    {{ partial:components/forms/input_field width="50" handle="shipping_name" display="Firma" :old="old:shipping_name"  :live_validate="live_validate" }}
    {{ partial:components/forms/input_field width="33" handle="shipping_street" display="Straat" :old="old:shipping_street"  :live_validate="live_validate" }}
    {{ partial:components/forms/input_field width="17" handle="shipping_number" display="Nr" :old="old:shipping_number"  :live_validate="live_validate" }}
    {{ partial:components/forms/input_field width="50" handle="shipping_city" display="Plaats" :old="old:shipping_city"  :live_validate="live_validate" }}
    {{ partial:components/forms/input_field width="50" handle="shipping_postal_code" display="Postcode" :old="old:shipping_postal_code"  :live_validate="live_validate" }}
</div>

<h2 class="text-2xl font-medium mb-2">
    Factuuradres
</h2>
<div x-data="{ 'useShippingAddressForBilling' : {{ ( !old || old:use_shipping_address_for_billing == 'on' ) ? 'true' : 'false'  }} }">
    <input type="hidden" name="use_shipping_address_for_billing" value="0"/>
    <label for="use_shipping_address_for_billing" class="text-sm text-gray-700 flex flex-row items-center select-none mb-6">
        <input
            type="checkbox"
            id="use_shipping_address_for_billing"
            name="use_shipping_address_for_billing"
            class="mr-2"
            x-model="useShippingAddressForBilling"
            @change="htmx.process($refs.billingAddress);"
            {{ if !old || { old:use_shipping_address_for_billing == 'on'  }  }}
                checked="checked"
            {{ /if }}
        />
        Factuuradres is gelijk aan afleveradres
    </label>
    {{ if !validationRequest }}<template x-if="!useShippingAddressForBilling">{{ /if }}
        <div class="grid md:grid-cols-12 gap-6 mb-12" x-ref="billingAddress">
            {{ partial:components/forms/input_field width="50" handle="billing_name" display="Firma" :old="old:billing_name"  :live_validate="live_validate" }}
            {{ partial:components/forms/input_field width="33" handle="billing_street" display="Straat" :old="old:billing_street"  :live_validate="live_validate" }}
            {{ partial:components/forms/input_field width="17" handle="billing_number" display="Nr" :old="old:billing_number"  :live_validate="live_validate" }}
            {{ partial:components/forms/input_field width="50" handle="billing_city" display="Plaats" :old="old:billing_city"  :live_validate="live_validate" }}
            {{ partial:components/forms/input_field width="50" handle="billing_postal_code" display="Postcode" :old="old:billing_postal_code"  :live_validate="live_validate" }}
        </div>
    {{ if !validationRequest }}</template>{{ /if }}
</div>