{{ sc:cart:update id="liveForm" x-ref="checkoutForm" request="CheckoutInformationRequest" redirect="/bestellen/betaling" hx-select="#main" hx-target="#main"}}
    {{ if logged_in }}
    {{ current_user:location }}
        {{ partial:checkout/information_prefilled }}
        <div class="w-full flex gap-12">
            <div class="w-full space-y-4">
                <div class="flex flex-col" > 
                    <span class="font-semibold" >Naam</span>
                    <span>{{ current_user:name }}</span>
                </div>
                <div class="flex flex-col" > 
                    <span class="font-semibold" >Firma</span>
                    <span>{{ company:title }}</span>
                </div>
                <div class="flex flex-col" > 
                    <span class="font-semibold" >Vestiging</span>
                    <span> {{ title }}</span>
                </div>
                <div class="w-full relative flex flex-col lg:flex-row gap-4 lg:gap-12">
                    <div class="w-full lg:w-1/2 flex flex-col gap-y-4" > 
                        <span class="font-semibold" >Afleveradres</span>
                        <div class="border border-c1 py-2 px-6 rounded-md leading-loose" >
                            <b>{{ shipping_name }}</b><br>
                            {{ shipping_street }} {{ shipping_number }}<br>
                            {{ shipping_postal_code }} {{ shipping_city }}<br>
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 flex flex-col gap-y-4" > 
                        <span class="font-semibold" >Factuuradres</span>
                        <div class="w-full border border-c1 py-2 px-6 rounded-md leading-loose" >
                            <b>{{ use_shipping_address_for_billing ?  shipping_name : billing_name }}</b><br>
                            {{ use_shipping_address_for_billing ? shipping_street : billing_street }} 
                            {{ use_shipping_address_for_billing ? shipping_number : billing_number }}<br>
                            {{ use_shipping_address_for_billing ? shipping_postal_code : billing_postal_code }} 
                            {{ use_shipping_address_for_billing ? shipping_city : billing_city  }}
                        </div>
                    </div>
                </div>
            </div>          
        </div>
        {{ /current_user:location }}
    {{ else }}
        {{ partial:checkout/information_inputs }}
    {{ /if }}
{{ /sc:cart:update }}     
             