<input type="hidden" name="company_id" value="{{ company:kvk }}" >
<input type="hidden" name="vat_id" value="{{ company:vat_id }}" >

<input type="hidden" name="shipping_name" value="{{ shipping_name }}" >
<input type="hidden" name="shipping_street" value="{{ shipping_street }}" >
<input type="hidden" name="shipping_number" value="{{ shipping_number }}" >
<input type="hidden" name="shipping_city" value="{{ shipping_city }}" >
<input type="hidden" name="shipping_postal_code" value="{{ shipping_postal_code }}" >

{{ if use_shipping_address_for_billing == false }}

    {{# text-input with value of 0 because default of toggle is true #}}
    <input type="hidden" name="use_shipping_address_for_billing" value="0"/>
    <input type="hidden" name="billing_name" value="{{ billing_name }}" >
    <input type="hidden" name="billing_name" value="{{ billing_name }}" >
    <input type="hidden" name="billing_street" value="{{ billing_street }}" >
    <input type="hidden" name="billing_number" value="{{ billing_number }}" >
    <input type="hidden" name="billing_city" value="{{ billing_city }}" >
    <input type="hidden" name="billing_postal_code" value="{{ billing_postal_code }}" >

{{ else }}

    <input type="hidden" name="use_shipping_address_for_billing" value="1"/>

{{ /if }}