<div class="w-full main-table shadow-md ">

    <div class="main-table-rows">
        <div class="main-table-row h-auto bg-c1 text-white p-6" >
            {{ completed ? 'Bestelde producten' : 'Winkelwagen' }}
        </div>

        {{ sc:cart:items }}
            <div class="main-table-row h-20 text-left gap-x-4  text-sm ">
                <div class="w-8 h-8 grid-place-items-center">
                    <img class="h-8 max-w-[32px] " src="{{ product:prod_img:url }}" />
                </div>
                <div class="flex-grow text-left flex flex-col">
                    <span>{{ quantity }}x {{ product:title }}</span> 
                </div>
                <div class="w-16">
                    {{ total }}
                </div>
            </div>
        {{ /sc:cart:items }}
 
        <div class="main-table-row  text-left gap-x-12 justify-between items-center ">
            {{ if !completed }} <a href="/winkelwagen" class="text-sm text-c3" >Winkelwagen wijzigen</a> {{ /if }}
        </div>
 
        <div class="main-table-row h-auto py-6 text-left justify-between items-center ">
            <div class="font-semibold ml-auto">

                {{ if {sc:cart:itemsTotal} !== null }}
                <div class="flex items-center justify-between mb-3 text-sm w-full gap-x-12">
                    <span>Subtotaal</span>
                    <span>{{ sc:cart:itemsTotal }}</span>
                </div>
                {{ /if }}
            
                {{ if {sc:cart:shippingTotal} !== null }}
                    <div class="flex items-center justify-between mb-3 text-sm w-full">
                        <span>Verzending</span>
                        <span>{{ sc:cart:shippingTotal }}</span>
                    </div>
                {{ /if }}
            
                {{ if {sc:cart:taxTotal} !== null }}
                    <div class="flex items-center justify-between text-sm w-full">
                        <span>BTW (21%)</span>
                        <span>{{ sc:cart:taxTotal }}</span>
                    </div>
                {{ /if }}
            


            </div>
        </div>

        <div class="main-table-row  text-left gap-x-12 justify-between items-center ">
            <div class="ml-auto">
                <div class="flex items-center justify-between text-sm w-full gap-x-8 ">
                    <span class="font-bold text-right">Totaal</span>
                    <span class="font-bold">{{ sc:cart:grandTotal }}</span>
                </div>
            </div>
        </div>

        {{ if !completed }}
            <div x-data="{ 'loading' : false }" @click="$refs.checkoutForm.submit(); loading = true" class="btn-primary w-full shadow-md rounded-t-none rounded-b-md cursor-pointer">
                
                <div x-cloak x-show="loading" >
                    {{ partial:svg/loading class="w-8 h-8 "}}
                </div>

                <span x-show="!loading" >Bestelling plaatsen</span>
            
            </div>
        {{ /if }}
      
    </div> 

</div>