<div class="section space-y-12 mt-12">
    <div class="flex items-center gap-x-6" > 
        {{ partial:svg/cheers class="h-8 w-auto fill-current" }}
        <div class="text-2xl font-bold">
           Je bestelling ({{ sc:cart:title }}) is geplaatst!
        </div>
    </div>
    <div class="w-full flex flex-col md:flex-row gap-12 justify-between items-start">
        <div class="w-full md:w-main bg-c2 p-6 text-white rounded-lg shadow-md">
            {{ settings:order_confirm_message }}
        </div>
        <div class="w-full md:w-side">
            {{ partial:checkout/cart completed="true"}}
        </div>

    </div>
</div>