{{# If there's nothing in the cart, redirect the user to the Cart page. #}}
{{ if {sc:cart:count} === 0 }}
    {{ redirect to="/winkelwagen" }}
{{ /if }}

<div class="section space-y-12 mt-12">
    <div class="flex items-center gap-x-6" >        
        <div class="text-2xl font-bold">
           Bestellen
        </div>
    </div>


    {{ if get:bevestiging }}

        <div  class="bg-c2 p-6 text-white rounded-lg shadow-md">
            {{ settings:order_confirm_message }}
        </div>

    {{ /if }}
    

    <div x-data class="flex flex-col md:flex-row justify-between items-start gap-12">
      
        <div class="w-full md:w-main bg-white rounded-lg shadow-md overflow-hidden">
            <div class="bg-c1 text-white p-6">
               Bestelgegevens
            </div>
            <div class="p-6">
                {{ partial:checkout/information_form }}
            </div>
          
        </div>
      
        <div class="w-full md:w-side flex flex-col flex-shrink justify-start">
            
            {{ partial:checkout/cart }}

        </div>

    </div>
</div>