{{? $filterAction = Request::hasHeader('filterAction'); ?}}

{{ crumbs = { current_uri |  excerpt:/filter  | replace('/producten', '') | replace('/filter') | explode('/') | offset(1)  } }}

{{ filterFields = [] }}
{{ availableFilters = [] }}

{{ filterstring = filterstring ?? 'all' }}

{{ filterParams =  { filter_params :filterstring="filterstring" } }}

{{ lastParam = { filterParams | pluck('key') | last } }}

{{ if categorypath != "all" }}

    {{ category = categorypath | explode('/') | last }}

    {{ category = { collection:categories :slug:is="category" limit="1"  } }}
    {{ category = category.0}}

{{ /if }}

{{ filterFields = { filter_fields :category_id="category:id"  } }}

{{ filterHandles = [] }}

{{ filterFields }}
    {{ if handle != lastParam }}
        {{? $filterHandles[] = $handle ?}}
    {{ /if }}
{{ /filterFields }}

{{ if filterHandles | count > 0 }}

    {{ filterHandles = { filterHandles | implode('|')}  }}

    {{ filterValues = { collection:products query_scope="product_filter" :filterstring="filterstring" :category_id="category:id" :select="filterHandles" } }}

{{ /if }}

{{ if filterParams | count > 0 }}

    {{ lastParamFilterValues = { collection:products query_scope="product_filter" :filterstring="filterstring" :exclude="lastParam" :category_id="category:id" :select="lastParam" } }}

{{ /if }}

{{# For all results in filters. We need to select the unique filternames where values are not NULL and collect the available options #}}
{{# Php in antlers loop here because of weird issue with antlers loop combined with pushing to array #}}
{{?

    if( isset($filterValues) ){

        foreach( $filterValues as $filterables ){

            foreach( $filterables as $k => $v ){

                $value = $v->raw();

                if( $value != Null ){

                    $availableFilters[$k][$value] = isset($availableFilters[$k][$value]) ? $availableFilters[$k][$value] + 1 : 1 ;
                    
                } 

            }

        }
        
    }

    if( isset($lastParamFilterValues) ){

        foreach( $lastParamFilterValues as $filterable ){

            $value = $filterable[$lastParam]->raw();

            if( $value != Null ){

                $availableFilters[$lastParam][$value] = isset($availableFilters[$lastParam][$value]) ? $availableFilters[$lastParam][$value] + 1 : 1 ;
                
            } 

        }
    
    }

?}}

<script>

    function buildUrl(filters,last){ 

        var params = {};
        var lastParam = {};
        var filterPath = '';
        let sort = 'title:asc';

        let queryString = new URLSearchParams(document.location.search);
        if( queryString.has('sort') ){
            sort = queryString.get("sort");
        }
        
        for (var [key, values] of Object.entries(filters)) { 

            if( values.length > 0 ){ 
             
                if( key === last ){
                    
                    lastParam = { 'handle' : key , 'values' : Array.from(values) };
                    
                }else{  
                 
                    params[key] = Array.from(values);

                }

            }

        }

        if( Object.keys(lastParam).length > 0){  

            params[lastParam.handle] = lastParam.values;

        }

        if( Object.keys(params).length > 0){    

            for (var [key, values] of Object.entries(params)) { 
            
                filterPath += key + ':' + ( Array.from(values).join(",") ) + '/'; 
            
           }

            return '/producten/{{ categorypath }}/filter/'+filterPath + '?sort=' + sort {{ if get:q }} + '&q={{ get:q }}'  {{ /if }};

        }else{
 
            return '/producten/{{ categorypath }}/filter/?sort=' + sort {{ if get:q }} + '&q={{ get:q }}'  {{ /if }};

        }
    
    }

</script>

{{ section:title }}{{ category:title }}{{ /section:title }}
{{ section:meta_description }}{{ category:meta_description }}{{ /section:meta_description }}

<div x-data="{ 'showFilter' : false }" class="section space-y-12 mt-12"  id="index">
    {{ if get:q }}
    <div class="inline-block relative bg-white rounded-md p-2">

            Zoekresultaten voor: <b>{{ get:q }}</b>
            <a hx-boost="true" hx-target="#main" hx-select="#main" hx-swap="show:none" class="absolute -right-3 -top-3 h-6 w-6 rounded-full bg-red-500 text-white grid place-items-center"  href="/producten/" >
                {{ partial:svg/close class="fill-white w-4 h-4" }}
            </a>
        
    </div>
    {{ /if }}
    <div class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4" >

        <div class="breadcrumbs flex flex-wrap relative items-center rounded-md overflow-hidden text-sm font-medium">
            <a href="/producten/?q={{ get:q }}" class="h-8 sm:h-10 grid place-items-center sm:pl-6 sm:pr-4 sm:bg-white sm:text-c1 ">Alle producten</a>
            {{ crumbs }}
                <a href="/producten{{ if prev:value }}/{{ prev:value }}{{ /if }}/{{ value }}/filter/?q={{ get:q }}" class="h-8 sm:h-10 grid place-items-center sm:pl-6 sm:pr-4 {{ last ? 'sm:bg-c1 sm:text-white' : 'sm:bg-white sm:text-c1' }} ">
                    {{ last ?= '<h1>' }}
                        {{ value }}
                    {{ last ?= '</h1>' }}
                </a> 
                {{ if !last }}<span class="sm:hidden mx-2" >></span>{{ /if }}
            {{ /crumbs }}
        </div>

        <div class="flex gap-x-4 self-end">

            <div @click="showFilter = true" x-show="!showFilter"  class="lg:hidden h-10 w-10 bg-c1 text-white grid place-items-center  rounded-md select-none">
                {{ partial:svg/filter class="fill-white w-6 h-6" }}
            </div>
          
           <div x-data="{ open : false }" @click="open = ! open" @click.outside="open = false" class="relative h-10 ml-auto px-2 bg-c1 text-white rounded-md ">
                <div class="h-full w-full flex flex-row items-center">
                    <div class=" h-8 w-8 flex flex-col items-center justify-center">
                        {{ partial src="{ {get:sort | contains('asc')} ? 'svg/sort_asc' : 'svg/sort_desc' }" class="h-6 w-6 fill-white" }}
                    </div>
                    <div class="p-2 hidden lg:block">
                        {{ switch(
                            (get:sort === 'title:asc' || get:sort == null) => 'Naam A-Z',
                            (get:sort === 'price:desc') => 'Prijs aflopend',
                            (get:sort === 'price:asc') => 'Prijs oplopend',
                        )}}
                    </div>
                </div>
                <div hx-target="#index" hx-select="#index" hx-push-url="true" hx-indicator="#indicator" hx-boost="true" x-show="open" @htmx:xhr:loadstart="$dispatch('filtering')" x-cloak class="absolute w-[calc(100vw-48px)] lg:w-full right-0 lg:right-auto lg:left-[50%] lg:transform lg:translate-x-[-50%] top-12 mt-2 bg-white text-c1 text-base border-2 border-c1 rounded-lg overflow-hidden z-20">
                    <a class="block p-2 hover:bg-c1 hover:text-white transition-colors" hx-get="?sort=title:asc"  >Naam A-Z</a>
                    <a class="block p-2 hover:bg-c1 hover:text-white transition-colors" hx-get="?sort=price:asc"  >Prijs oplopend</a>
                    <a class="block p-2 hover:bg-c1 hover:text-white transition-colors" hx-get="?sort=price:desc"  >Prijs aflopend</a>
                </div>
            </div>

        </div>

    </div>

    <div x-data="{filters : { 'brands' : [ {{ filter_params:get filter="brands" :filterstring="filterstring" }}'{{ value }}',{{ /filter_params:get }} ], {{ filterFields }}'{{ handle }}' : [{{ filter_params:get :filter="handle" :filterstring="filterstring" }}'{{ value }}',{{ /filter_params:get }}], {{ /filterFields }} } , 'last' : ''  }" id="product-index" class="section flex gap-x-12 mt-12" >
        <div :class="showFilter ? 'flex' : 'hidden lg:flex' " class="fixed lg:relative left-0 top-20 lg:top-auto p-6 lg:p-0  bg-gradient-to-tr from-[#B7E0C0] to-[#BEE4EF] lg:from-transparent lg:to-transparent z-50 lg:z-auto box-content w-64 h-[calc(100vh-80px)] shadow-2xl lg:shadow-none border-c1 border-r-2 lg:border-r-0 overflow-y-scroll flex-shrink-0 flex-grow-0 lg:mb-0; lg:flex flex-col gap-y-6 " > 
            <div class="lg:hidden ml-auto" @click="showFilter = false">
                {{ partial:svg/close class="w-6 h-6 fill-c1" }}
            </div>
            {{ nav:collection:categories from="{{ category:url }}" select="url|title" as="items"}}
                {{  if !no_results  }}
                    <div class="rounded-md overflow-hidden w-full flex-shrink-0" >
                        <div class="bg-c1 text-white px-4 py-2">
                            Categorieën
                        </div>
                        <div class="space-y-px">
                        {{ items }}
                            <a class="block bg-white py-2 lg:py-1 px-4 text-sm" href="{{ url }}{{ if get:q }}?q={{ get:q }}{{ /if }}">
                                {{ title }}
                            </a>
                        {{ /items }}
                        </div>
                    </div>
                {{ /if }}
            {{ /nav:collection:categories }}
    
            <form 
                @change="
                $el.setAttribute('hx-get', buildUrl(filters,last) );
                await $nextTick(); htmx.process($el); 
                $dispatch('submit');
                " 
                hx-get=""
                hx-push-url="true"
                hx-params="none" 
                hx-target="#index"
                hx-select="#index"
                hx-swap="outerHTML"
                hx-headers='{ "filterAction" : true }'
                hx-indicator="#indicator"
                @htmx:xhr:loadstart="$dispatch('filtering')"
            >
                <div class="flex flex-col gap-y-6  flex-shrink-0">
                    {{ filterFields }}
                        {{ foreach:availableFilters  as="label|options" }}
                            {{ if label === handle && options | count > 0 }}
                                <div class="bg-white rounded-md overflow-hidden" >
                                    <div class="bg-c1 text-white px-4 py-2">
                                        {{ display | ucfirst }}
                                    </div>
                                    <div class="p-4 space-y-2 select-none">
                                        {{ foreach:options as="handle|total" scope="option"}}
                                        <label class=" w-auto grid grid-flow-col gap-2 justify-start items-center text-sm font-bold"  for="{{ label }}_{{ handle }}">
                                            <input class="hidden peer" type="checkbox" @change="last = '{{ label }}'" x-model="filters.{{ label }}" name="{{ label }}" id="{{ label }}_{{ handle }}" value="{{ handle }}" />
                                            <div class="border-2 border-c1 bg-white peer-checked:bg-c3 w-4 h-4 rounded-[0%100%100%100%] transform rotate-45 " > </div>
                                            {{ if label | contains_any('brands','categories') }}
                                                {{ handle = { handle | get('title') } }} 
                                            {{ /if }}
                                            {{ handle | lower | ucfirst }} ({{ total }})
                                        </label>
                                        {{ /foreach:options }}
                                    </div>
                                </div>
                            {{ /if }}
                        {{ /foreach:availableFilters }}    
                    {{ /filterFields }}
                </div>
            </form>
        </div> 
       
        <div x-data="" id="index-results"  class="lg:flex-grow max-w-full" >

            {{ collection:products paginate="12"  query_scope="product_filter" :filterstring="filterstring" :category_id="category:id" sort="{{ get:sort }}" select="title|brands|url|art_nr|prod_img|id" as="products" }}

            <div class="grid relative grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-12 text-sm mb-12">



                <div class="htmx-indicator opacity-0 fixed top-0 left-0 z-50  grid place-items-center w-screen h-screen pointer-events-none" id="indicator">
                    <div class="w-24 h-24 grid place-items-center rounded-full bg-c3 border-2 border-white shadow-lg">
                        {{ partial:svg/loading class="w-12 h-auto"}}
                    </div>
                </div>
    


            {{ if no_results }}

                <div class="bg-white p-6 rounded-lg text-lg text-center font-medium col-span-2">
                    Er zijn geen producten gevonden met dit filter.
                </div>

            {{ else }}

            {{ products scope="listing" }}
    
                <div @filtering.window="$el.classList.add('opacity-75','animate-pulse')" @htmx:after-swap.camel.window="$el.classList.remove('opacity-75','animate-pulse')" key="{{ listing:id | camelize }}" class="group w-full relative flex flex-col justify-start grow rounded-lg shadow-md transition-opacity" >
                    <a class="flex-grow flex flex-col rounded-t-lg overflow-hidden " href="{{ url }}">
                        <div class="relative h-36 w-full grid place-items-center bg-white">
                            <img class="h-24 w-auto" 
                                src="{{ prod_img:url ?? img:url  }}"
                            />
                            <span class="absolute bottom-0 right-0 px-2 py-1 rounded-tl-md bg-white text-xs font-light text-gray-400 text-right">
                                {{ art_nr }}
                            </span>
                        </div>
                        <div class="w-full grow font-bold p-4 mt-px bg-white">
                            {{ brands:title | lower | ucfirst }}
                            {{ title }}  
                        </div>
                    </a>
                    <div class="w-full flex flex-row justify-center items-center h-12 mt-px bg-white" hx-get="/partials/products/_product_amount?product_id={{ listing:id }}" hx-trigger="load once"  ></div>
                    <div class="h-12 bg-c2 text-white flex flex-col items-center justify-center rounded-b-lg" hx-get="/partials/products/_dynamic_price?product_id={{ listing:id }}"  hx-trigger="load once"></div>
                </div>
            
            {{ /products }}

            {{ /if }}
            
            </div>

                {{ paginate }}
                {{ auto_links }}
                {{ /paginate  }} 

            {{ /collection:products  }}

            {{ if category:description }}
                <div class="mt-12">
                    <p class="mt-2" >
                        {{ category:description }}
                    </p>
                </div>
            {{ /if }}

        </div>

    </div>

</div>