
<div>
    {{ nav:collection:categories }}
        <li>
            <a href="{{ url }}">{{ title }}</a>
         
            {{ if children }}
                <ul>{{ *recursive children* }}</ul>
            {{ /if }}
            
        </li>
    {{ /nav:collection:categories}}
</div>