<div class="w-full py-12" >
    <div class="section flex flex-col md:flex-row md:justify-between items-start gap-12">
        <div class="w-full md:w-side order-last md:order-none aspect-square bg-white rounded-lg overflow-hidden p-6 flex flex-col items-center justify-center shadow-md">
            <img class="max-w-full max-h-full" src="{{ prod_img:url ?? img_url }}" />
        </div>
        <div class="w-full md:w-main relative">
            <div class="w-full relative rounded-lg overflow-hidden shadow-md">  
                <div class="w-full h-24 mb-0.5 " >
                    <div class="w-full h-full flex flex-row items-center justify-between p-6 bg-white">
                        {{ nocache }}
                            {{ partial:products/product_amount :product_id="id" }}
                        {{ if logged_in }}
                           {{ partial:htmx/manage_list :product_id="id" }}
                        {{ /if }}
                        {{ /nocache }}
                    </div>
                </div>

                <div class="bg-white p-6 ">
                    <div class="text-2xl font-semibold">
                        <span>
                            {{ brands:title | lower | ucfirst }} |
                        </span>
                        {{ title }}
                    </div>
                    <div class="text-sm" >Art.nr. {{ art_nr }}</div>
                    {{ if description }}
                        <p class="my-6" >
                            <b>Omschrijving:</b><br>
                            {{ description | nl2br }}
                        </p>
                    {{ /if }}
                </div>
                <div class="w-full  bg-white " >
                    <div class="ml-auto w-48 p-6 font-bold flex flex-col items-center justify-center bg-c2 text-white rounded-tl-lg" >
                        {{ nocache }}
                            {{ partial:products/dynamic_price :product_id="id" }}
                        {{ /nocache  }} 
                    </div>
                </div>
            </div>
            {{ if related_products }}
            <div class="w-full mt-12 grid grid-flow-row gap-6" >
                <div class="font-bold" >
                    Mogelijk vind je deze producten ook interessant:
                </div>
                {{nocache}}
                {{ related_products }} 
                    <a href="{{ url }}" class="flex flex-row shadow-md rounded-lg  overflow-hidden transform hover:translate-x-1 transition-transform" >
                        <div class="h-20 w-20 p-1 bg-white flex flex-col items-center justify-center mr-px " >
                            <img class="h-full w-auto " src="{{ prod_img:url ?? img_url }}" />
                        </div>
                        <div class="h-20 w-full bg-white flex flex-row items-center justify-between rounded-r-lg  overflow-hidden">
                            <div class="px-6 font-bold " >
                                {{ title }} 
                            </div>
                            <div class="h-full w-32  bg-c2 flex flex-col items-center justify-center ml-auto text-white">
                                {{ partial:products/dynamic_price :product_id="id" }}
                            </div> 
                        </div>
                    </a>
                {{ /related_products  }}
                {{ /nocache  }}
            </div>
            {{ /if }}
        </div>
    </div>
</div>