
{{ collection:orders title:is="#{order}" limit="1" }}
<div class="section flex justify-between py-12">
    <div class="w-main">
        <div class="w-full main-table shadow-md rounded-lg overflow-hidden">
        
            <div class="main-table-rows">
                <div class="main-table-row h-auto bg-c1 text-white p-6" >
                    {{ completed ? 'Bestelde producten' : 'Winkelwagen' }}
                </div>
        
                {{ items }}
                    <div class="main-table-row h-20 text-left gap-x-4  text-sm ">
                        <div class="w-8 h-8 grid-place-items-center">
                            <img class="h-8 max-w-[32px] " src="{{ product:prod_img:url }}" />
                        </div>
                        <div class="flex-grow text-left flex flex-col">
                            <span>{{ quantity }}x {{ product:title }}</span> 
                        </div>
                        <div class="w-16">
                            {{ total }}
                        </div>
                    </div>
                {{ /items }}
        
                <div class="main-table-row h-auto py-6 text-left justify-between items-center ">
                    <div class="font-semibold ml-auto">
        
                        {{ if items_total !== null }}
                        <div class="flex items-center justify-between mb-3 text-sm w-full gap-x-12">
                            <span>Subtotaal</span>
                            <span>{{ items_total }}</span>
                        </div>
                        {{ /if }}
                    
                        {{ if {shipping_total} !== null }}
                            <div class="flex items-center justify-between mb-3 text-sm w-full">
                                <span>Verzending</span>
                                <span>{{ shipping_total }}</span>
                            </div>
                        {{ /if }}
                    
                        {{ if {tax_total} !== null }}
                            <div class="flex items-center justify-between text-sm w-full">
                                <span>BTW (21%)</span>
                                <span>{{ tax_total }}</span>
                            </div>
                        {{ /if }}
                    
        
        
                    </div>
                </div>
        
                <div class="main-table-row  text-left gap-x-12 justify-between items-center ">
                    <div class="ml-auto">
                        <div class="flex items-center justify-between text-sm w-full gap-x-8 ">
                            <span class="font-bold text-right">Totaal</span>
                            <span class="font-bold">{{ grand_total }}</span>
                        </div>
                    </div>
                </div>
            
            </div> 

        </div>
    </div>
    <div class="w-side">
        <a class="btn-primary"  href="/reorder/{{ id }}">Opnieuw bestellen</a>
    </div>
</div>
{{ /collection:orders  }}